<br>
<div class="mx-auto" style="text-align:center; width: 80%;">
  <h1 style="color: gold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    MENTAL MATH
  </h1>
</div>
<div style="width: 95%; text-align: right; margin-top: -5%;">
  <a [routerLink]="['/']" class="logo"><img src="assets/logo.png" alt="website logo, a brain with math symbols"></a>
</div>


<!-- Chalkboard -->
<div style="padding: 4%">
  <div style="display: flex; justify-content: center">
    <div id="chalkboard">
      <button class="chalk" [routerLink]="['/play']">PLAY!</button>
      <br><br><br>
      <button class="chalk" [routerLink]="['/stats']">My Stats</button>
      <br><br><br>
      <button class="chalk" [routerLink]="['/board']">Leaderboard</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>