h1{
    font-size: 8vh;
}

#chalkboard{
    width: 70%;
    height: 55vh;
    border: 12px solid burlywood;
    background: darkslategray;
    color: white;
    font-weight: bold;
    padding: 15px;    
    overflow-y: auto;
    margin-top: -4%;
}

.chalk{
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 200%;
}

img{
    height: 13vh;
    width: auto;
}

.logo :hover{
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%; 
    -webkit-transform: rotate(45deg); 
    -webkit-transform-origin: 20% 40%; 
    transform: rotate(15deg);
    transform-origin: 20% 40%;
}

#scorecard{
    display: grid;
}

#theScore, #theCard{
    grid-area: 1 / 1;
}

#theCard{
    height: 18vh;
    width: auto;
}

#theScore{
    text-align: center;
    padding: 28% 25% 20% 20%;
    color: red;
    font-weight: bolder;
    font-size: 1.8em;
}

/* Structural alternative */

#noScorecard{
    display: grid;
}

#noScore, #noCard{
    grid-area: 1 / 1;
}

#noCard{
    height: 18vh;
}

#noScore{
    text-align: center;
    padding: 28% 25% 20% 20%;
    color: black;
    font-weight: bolder;
    font-size: 1.8em;
}

.saveButton{
    padding: 0;
    border: transparent;
    background: transparent;
}

#chalkboard h3{
    font-size: 1.1em;
    margin-bottom: 2%;
}

.gameStatus{
    position: absolute;
    text-align: left;
    top: 26vh;
    left: 2%;
    width: 9%;
    height: 37vh;
}

/* Clock */

#clock{
    height: 16vh;
}

#timerClock{
    position: absolute; 
}

#timer{
    position: absolute;
    text-align: left;
    top: 6vh;
    left: 34%;
    color: black;
    font-weight: bolder;
    font-size: 1.65em;
}

/* Attempts */

#attemptPaper{
    position: absolute;
    text-align: left;
    top: 20vh;
    left: 0;
}

#paper{
    height: 18vh;
}

#attempts{
    position: absolute;
    text-align: left;
    top: 6vh;
    left: 32%;
    font-weight: bolder;
    font-size: 1.65em;
}

#attempts p{
    font-family: serif;
    font-style: italic;
    color: darkslategrey;
}

.correction{
    margin-top: 1%;
}

#timeUp{
    margin-top: 3%;
    font-size: 2em;
    color: red;
    font-weight: bold;
    font-family: fantasy;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

    #chalkboard {
      width: 95%; /* The width is 95%, when the viewport is 800px or smaller */
    }

    h1{
        font-size: 4vh;
    }

    .gameStatus{
        position: fixed;
        top: 80vh;
        left: 0;
        width: 100%;
    }

    #attemptPaper{
        position: absolute;
        text-align: left;
        top: 0;
        right: 0;
        left: auto;
    }
  
}