<br>
<div class="mx-auto" style="display: flex; justify-content: space-between; width:96%; margin-bottom: -2%;">
  <div id="scorecard" *ngIf="showScore">
    <img id="theCard" src="assets/scorecard.png" alt="score card">
    <div id="theScore">
      <p>{{score}}</p>
    </div>
  </div>
  <!-- Structral alternative -->
  <div id="noScorecard" *ngIf="hideScore">
    <img id="noCard" src="assets/filler.png" alt="score card">
    <div id="noScore">
      <p>0</p>
    </div>
  </div>
  <!-- / Structral alternative -->
  <div>
    <h1 style="color: gold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      MENTAL MATH
    </h1>
  </div>
  <div>
    <a (click)="ngOnInit()" class="logo"><img src="assets/logo.png" alt="website logo, a brain with math symbols"></a>
  </div>
</div>

<!-- Chalkboard -->
<div style="padding: 4%">
  <div style="display: flex; justify-content: center">

    <div *ngIf="home" id="chalkboard">
      <button class="chalk" (click)="showPlay()">PLAY!</button>
      <br><br><br>
      <button class="chalk" (click)="showSave()">Save</button>
      <br><br><br>
      <button class="chalk" (click)="showLeaderBoard()">Leaderboard</button>
    </div>

    <div *ngIf="play" id="chalkboard">
      <div style="display: flex; justify-content: space-evenly;">
        <button class="chalk" (click)="easyQuestion()" class="btn-lg btn-success">EASY</button>
        <button class="chalk" (click)="mediumQuestion()" class="btn-lg btn-warning">MEDIUM</button>
        <button class="chalk" (click)="hardQuestion()" class="btn-lg btn-danger">HARD</button>
        <button class="chalk" (click)="mentalQuestion()" class="btn-lg btn-dark">MENTAL</button>
      </div>
      <br>
      <div class="mx-auto" style="width: 100%; text-align: center;">
        <p class="chalk" *ngIf="notStarted">Pick a difficulty to begin!</p>
        <p class="chalk" *ngIf="showQuestion">{{x}} {{sign}} {{y}}</p>
      </div>
      <div class="mx-auto" style="width: 100%; text-align: center;">
        <input (keyup)="answerQuestion($event)" type="number" name="Name" autocomplete="off" *ngIf="showSubmit">
        <br><br>
        <button (click)="submitAnswer()" class="btn-md btn-primary" *ngIf="showSubmit">Submit</button>
        <br><br>
        <p *ngIf="showAnswer">
          ANSWER = {{answer}}
        </p>
      </div>
    </div>

    <div *ngIf="save" id="chalkboard">
      <div style="padding-left: 15%;">
        <br>
        <label class="chalk">Name: &nbsp; </label>
        <input (keyup)="playerName($event)" type="text" name="Name">
        <br><br>
        <label class="chalk">Your Score: {{score}}</label>
        <br><br>
      </div>
      <div style="text-align: center;">
        <button title="Save" (click)="Save()" class="saveButton"><img src="assets/save.png" alt="save icon"></button>
      </div>
    </div>

    <div *ngIf="leaderBoard" id="chalkboard">
      <p *ngFor="let result of results" class="chalk">
        <span style="font-weight: bold">{{result.Name}}:</span> {{result.Score}}
      </p>
    </div>

  </div>
</div>

<div *ngIf="play" style="width: 100%; text-align: center; margin-top: -5%;">
  <img *ngIf="right" src="assets/right.png" alt="a tick">
  <img *ngIf="wrong" src="assets/wrong.png" alt="an x">
</div>

<router-outlet></router-outlet>