#chalkboard{
    width: 72%;
    height: 350px;
    border: 12px solid burlywood;
    background: darkslategray;
    color: white;
    font-weight: bold;
    padding: 15px;    
    overflow-y: auto;
    margin-top: -4%;
}

.chalk{
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 2.2em;
}

img{
    height: 13vh;
}

.logo :hover{
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%; 
    -webkit-transform: rotate(45deg); 
    -webkit-transform-origin: 20% 40%; 
    transform: rotate(15deg);
    transform-origin: 20% 40%;
}

#scorecard{
    display: grid;
}

#theScore, #theCard{
    grid-area: 1 / 1;
}

#theCard{
    height: 18vh;
}

#theScore{
    text-align: center;
    padding: 28% 25% 20% 20%;
    color: red;
    font-weight: bolder;
    font-size: 1.8em;
}

/* Structural alternative */

#noScorecard{
    display: grid;
}

#noScore, #noCard{
    grid-area: 1 / 1;
}

#noCard{
    height: 18vh;
}

#noScore{
    text-align: center;
    padding: 28% 25% 20% 20%;
    color: black;
    font-weight: bolder;
    font-size: 1.8em;
}

.saveButton{
    padding: 0;
    border: transparent;
    background: transparent;
}

#chalkboard h3{
    font-size: 1.1em;
    margin-bottom: 2%;
}

/* Clock */

#timerClock{
    display: grid;
}

#timer, #clock{
    grid-area: 1 / 1;
}

#clock{
    height: 16vh;
}

#timer{
    padding: 3% 4% 3% 3%;
    color: black;
    font-weight: bolder;
    font-size: 1.65em;
}

/* Attempts */

#attemptPaper{
    display: grid;
}

#attempts, #paper{
    grid-area: 1 / 1;
}

#paper{
    height: 18vh;
}

#attempts{
    padding: 3% 4% 3% 3%;
    color: black;
    font-weight: bolder;
    font-size: 1.65em;
}

#attempts p{
    font-family: serif;
    font-style: italic;
    color: darkslategrey;
}

.correction{
    margin-top: 1%;
}

#timeUp{
    margin-top: 3%;
    font-size: 2em;
    color: red;
    font-weight: bold;
    font-family: fantasy;
}